# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

**/build
**/orig_main
note.txt
**/android
obf_MCS.sh
#!**/testing
*.ll
#*.c
**/.vscode
*.dot
*.txt
#**/angr
**/__pycache__
**/exploid
**/tests 
!codec.bc
foo.c
example.c
**/llvm-pass-mba/tests

!CMakeLists.txt
!codec*
!llvm-pass-mba/tests

!./testing/sha/**
!./testing/plusaes/**
!./testing/qsort/**
!./testing/bitcodeMetrics/**
*.ll
*.bc 
!*.txt
