# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

**/build
**/testing
*.ll
*.c
**/.vscode
*.dot
*.txt
**/angr

!CMakeLists.txt
!codec*
!llvm-pass-mba/tests

!./testing/sha
!./testing/plusaes
!./testing/qsort
!./testing/bitcodeMetrics
*.ll
*.bc 
